<ion-view title="预约评价/晒单" hide-tabs="true">
  <ion-content class="padding" >
    <ion-list>
      <div class="list">
        <span class="item item-thumbnail-left e" >
          <img src="img/p1.jpg">
          <h3>珠海金装士汽车维修店</h3>
          <h5>综合评价：</h5>
        </span>
      </div>

      <div class="list">
        <span class="e">
          <p>本次维修项目：</p>
          小保养&nbsp; &nbsp; &nbsp;汽车&nbsp; &nbsp; &nbsp;换轮胎
        </span>
      </div>

      <div class="list">
        <p>
          <center>服务态度：&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</center>
        </p>
        <p>
          <center>收费合理：&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</center>
        </p>
        <p>
          <center>技术水平：&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</center>
        </p>

      <label class="item item-input ">
       <input type="text" style="border-style: none" placeholder="请输入评价内容：">
      </label>

      </div>
      <span class="f"><button class="button button-assertive button-small">
      添加图片
    </button>
    </span>
      <button class="button button-block button-assertive button-small ">
      确定
    </button>
    </ion-list>

  </ion-content>
</ion-view>
