<ion-view title="评价列表" hide-tabs="true">
   <div class="content has-header ionic-pseudo">

      <div class="row">
        <div class="col col-75">
          Call Maadadasdsadadasdasdasdadasdsa
        </div>
		<div class="col col-25">
			<a href="#/tab/commodity" class="button button-small button-positive right">进入评论</a>
		</div>
      </div>

	<div class="row">
        <div class="col col-75">
          Call Maadadasdsadadasdasdasdadasdsa
        </div>
		<div class="col col-25">
			<a href="#/tab/commodity" class="button button-small button-positive right">进入评论</a>
		</div>
      </div>

	<div class="row">
	        <div class="col col-75">
	          Call Maadadasdsadadasdasdasdadasdsa
	        </div>
			<div class="col col-25">
				<a href="#/tab/commodity" class="button button-small button-positive right">进入评论</a>
			</div>
	   </div>
    </div>

</ion-view>