<ion-view title="系统通知" hide-tabs="true">

  <ion-content>
      <div class="row" style="border-bottom: 1px solid #ddd;">
        <div class="col">
            <span style="font-size: 14px"><b>李伟</b></span><br />
            <span>2016-8-2</span>
            
        </div>
        <div class="col">
          <span style="font-size: 14px;color: red">评论了你的博文</span><br/>
          <span style="font-size: 14px;"><b>《你知道防冻液多久换一次吗》</b></span>
        </div>
      </div>

   
  </ion-content>

</ion-view>
