<ion-view title="美容护理" hide-tabs="true">

  <ion-content>
    <div >
      <div class="title" style="background-color: #f8f8f8;color:#387ef5">请选择您需要的美容护理服务</div>
    </div>
    <div class="row" style="background-color: #f8f8f8;">
      <div class="col col-25">
        <button class="button button-small" ng-click="setMRbt(1)">
          <img src="img/main/carbeauty_gray_01.png" ng-show="!btList[1]"><!--item[a]-->
          <img src="img/main/carbeauty_orange_01.png" ng-show="btList[1]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button button-small" ng-click="setMRbt(2)">
          <img src="img/main/carbeauty_gray_02.png" ng-show="!btList[2]">
          <img src="img/main/carbeauty_orange_02.png" ng-show="btList[2]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(3)">
          <img src="img/main/carbeauty_gray_03.png" ng-show="!btList[3]">
          <img src="img/main/carbeauty_orange_03.png" ng-show="btList[3]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(4)">
          <img src="img/main/carbeauty_gray_04.png" ng-show="!btList[4]">
          <img src="img/main/carbeauty_orange_04.png" ng-show="btList[4]">
        </button>
      </div>
    </div>
    <div class="row" style="background-color: #f8f8f8;">
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(5)">
          <img src="img/main/carbeauty_gray_05.png" ng-show="!btList[5]">
          <img src="img/main/carbeauty_orange_05.png" ng-show="btList[5]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(6)">
          <img src="img/main/carbeauty_gray_06.png" ng-show="!btList[6]">
          <img src="img/main/carbeauty_orange_06.png" ng-show="btList[6]">
        </button>
      </div>

      <div class="col col-25">
        <button class="button" ng-click="setMRbt(7)">
          <img src="img/main/carbeauty_gray_07.png" ng-show="!btList[7]">
          <img src="img/main/carbeauty_orange_07.png" ng-show="btList[7]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(8)">
          <img src="img/main/carbeauty_gray_08.png" ng-show="!btList[8]">
          <img src="img/main/carbeauty_orange_08.png" ng-show="btList[8]">
        </button>
      </div>
    </div>
    <div class="row" style="background-color: #f8f8f8;">
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(9)">
          <img src="img/main/carbeauty_gray_09.png" ng-show="!btList[9]">
          <img src="img/main/carbeauty_orange_09.png" ng-show="btList[9]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(10)">
          <img src="img/main/carbeauty_gray_10.png" ng-show="!btList[10]">
          <img src="img/main/carbeauty_orange_10.png" ng-show="btList[10]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(11)">
          <img src="img/main/carbeauty_gray_11.png" ng-show="!btList[11]">
          <img src="img/main/carbeauty_orange_11.png" ng-show="btList[11]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(12)">
          <img src="img/main/carbeauty_gray_12.png" ng-show="!btList[12]">
          <img src="img/main/carbeauty_orange_12.png" ng-show="btList[12]">
        </button>
      </div>
    </div>
    <div class="row" style="background-color: #f8f8f8;">
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(13)">
          <img src="img/main/carbeauty_gray_13.png" ng-show="!btList[13]">
          <img src="img/main/carbeauty_orange_13.png" ng-show="btList[13]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(14)">
          <img src="img/main/carbeauty_gray_14.png" ng-show="!btList[14]">
          <img src="img/main/carbeauty_orange_14.png" ng-show="btList[14]">
        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(15)">

        </button>
      </div>
      <div class="col col-25">
        <button class="button" ng-click="setMRbt(16)">

        </button>
      </div>
    </div>


     <button class="button button-full button-assertive" ui-sref="tab.beautyCare_next">
      <strong>下一步</strong>
    </button>

  </ion-content>
</ion-view>
