<!--2.3.1-百度地图/附近维修店-->
<ion-view title="附近维修店" hide-tabs="true" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a ng-click="goBackUp()">
      <i class="icon ion-android-arrow-back" style="font-size: 30px;color: white;"></i>
    </a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    	<a class="button button-small button-clear" ng-href="#/tab/repairShops"
            style="width: 50px;height: 50px;"><span style="color: white">列表</span>
    	</a>

  	</ion-nav-buttons>


  <ion-content id="allmap-third">

    <!--    <br><br><div><chart-line>
        </chart-line></div>-->
  </ion-content>
</ion-view>
