<ion-view title="找回密码" hide-tabs="true">
	<ion-content class="padding has-header">
		<form role="form" name="myForm" class="form-horizontal" novalidate>
			<label class="item item-input" style="padding-top: 0px;padding-bottom: 0px;font-size: 14px;">
       手机号：
      <input
        ng-model="user.username"
        name="phone"
        ng-pattern="/^1[34578]\d{9}$/"
             input type="text" style="border-style: none"
             placeholder="请输入11位手机号" required>
             <i class="ion-checkmark-round" ng-show="myForm.phone.$dirty && myForm.phone.$valid"></i>
    </label>
			<span class="item item-input" style="padding-top: 0px;padding-bottom: 0px;font-size: 14px;">
      <span class="c">
      </span><input type="text"
                    ng-model="user.number"
                    name="number"
                    ng-pattern="/^\d{6}$/"
                    style="border-style: none"
                    required placeholder="请输入6位验证码">
    	<button
        style="
        font-size: 14px;
        cursor:pointer;
        background-color: #1e77c0;
        height: 30px;
        width:100px;
        color: white;
        border-radius:5px;
        margin-top:2px ;
        margin-right:2px;
        margin-bottom:2px;
        margin-left:2px"
        ng-click="get_verification_code()"
        ng-disabled="codeNum">
        {{codetime}}
      </button>
			</span>


			<div>
				<a class="button button-block button-assertive button-small" style="background-color: #1e77c0;" ng-disabled="myForm.$invalid" ng-click="confirm_verification_code()">
      下一步
      </a>
			</div>
			</form>
	</ion-content>
</ion-view>
