<ion-view view-title="新老用户登录" hide-tabs="true" hide-back-button="true">
  <ion-nav-button side="left">
    <a ng-href="#tab/login">
      <i class="icon ion-android-arrow-back" style="font-size: 30px;color: white;"></i>
    </a>
  </ion-nav-button>

  <ion-content>
    <ion-list>
      <div style="margin: 10px auto;">
        <a class="button button-assertive" ng-href="#/tab/newlogin">新用户注册</a>
        <a class="button button-assertive" ng-href="#/tab/oldlogin">老用户绑定</a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
