<ion-view view-title="老用户登录" hide-tabs="true">
  <ion-content>
    <ion-list>
      <input type="text" maxlength="11" placeholder="请输入用户名：" style="margin: 10px auto;border: 1px solid;border-radius: 5px;padding-left: 6px" ng-model="un">
      <input type="password" maxlength="25" placeholder="请输入密码："style="margin: 10px auto;border: 1px solid;border-radius: 5px;padding-left: 6px" ng-model="pwd">
      <a class="button button-assertive button-small" ng-click="weBindLogin(un,up)" style="border-radius: 5px">已绑定，去登录</a>
    </ion-list>
  </ion-content>
</ion-view>
