<ion-view title="修改密码" hide-tabs="true">
  <ion-content>
  	<form role="form" name="myForm" class="form-horizontal padding" novalidate>
    <label class="item item-input" style="padding-top: 0px;padding-bottom: 0px;font-size: 14px;">
      密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码 :&nbsp;<input ng-model="user.password" type="password"   name="password" ng-minlength="6" ng-maxlength="16" placeholder="请输入您的新密码" required>
    	<i class="ion-checkmark-round" ng-show="myForm.password.$dirty && myForm.password.$valid"></i>
    </label>

    <label class="item item-input" style="padding-top: 0px;padding-bottom: 0px;font-size: 14px;">
      确认密码&nbsp;:&nbsp;<input ng-model="user.confirmPassword"  type="password" name="confirmPassword" ng-minlength="6" ng-maxlength="16" placeholder="请再次输入您的新密码" required>
    	<i class="ion-checkmark-round" ng-show="user.password==user.confirmPassword&&myForm.confirmPassword.$dirty && myForm.confirmPassword.$valid"></i>
    </label>

    <button ng-disabled="myForm.$invalid||user.password!=user.confirmPassword"  ng-click="updatePassword()" class="button button-block button-assertive button-small" style="background-color: #1e77c0;">完成</button>
    </form>
  </ion-content>
</ion-view>
