<ion-view view-title="QQ客服" hide-tabs="true">
  <ion-content>
    <center>
    <iframe class="content" src="http://wpa.qq.com/msgrd?v=3&uin=2256653383&site=qq&menu=yes"
            id="iframe1" style="width:100%;height: 300px;">
    </iframe>
      <img  style="CURSOR: pointer" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=1095924892&o=www.ico2o.cn&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:1095924892:1 alt="点击这里给我发消息">
    </center>
  </ion-content>
</ion-view>
