<ion-view title="客服中心">
  <!--<header class="bar bar-header" style="background-color:#36ADE0">
    <h1 class="title" style="color: white">客服中心</h1>
    <button class="button" style="background-color:#36ADE0">
       <img src="img/top_shoppingcart.png" ng-click="" style="width: 30px;height: 30px">
    </button>
  </header>-->

  <ion-content>
    <div class="list">
      <div class="row">
        <div class="col" style="padding-left:16px;text-align:left;font-size: 14px">
          <div class="row">联系客服：
            <a style="text-decoration: none;height:22px;padding-left: 13px;padding-top: 0px;padding-right: 7px"
               ng-href="#/tab/QQCustom">
              <img src="img/qqq.jpg" style="width: 17px;height: 18px">
              <span style="padding-left: 10px;color: black;line-height: 10px;padding-bottom: 5px">
                Q Q客服</span>
            </a>
          </div>
        </div>
      </div>

   <!--   <div class="row" style="border-top: solid 1px;border-color: #e1e1e1">
        <div class="col" style="padding-left:16px;text-align:left;font-size: 14px">
          <div class="row">
            <a style="height:22px;padding-left: 80px;padding-top: 0px;padding-right: 7px">
              <img src="img/weixin.jpg" style="width: 22px;height: 22px">
            </a>微信客服
          </div>
        </div>
      </div>-->
      <div class="row" style="border-top: solid 1px;border-color: #e1e1e1">
        <div class="col" style="padding-left:16px;text-align:left;font-size: 14px">
          <div class="row">
            <a ng-href="#/tab/OnlineCustom"
               style="text-decoration: none;height:22px;padding-left: 83px;padding-top: 0px;padding-right: 7px">
              <img src="img/support.png" style="padding-top:5px;width: 20px;height: 23px">
            <span style="padding-left: 6px;color: black;line-height: 10px;padding-bottom: 2px">在线客服</span></a>
          </div>
        </div>
      </div>

      <div style="border: solid 1px;border-color: rgba(0, 0, 0, 0.34)"></div>
      <div style="border-top: solid 7px;border-color: #cccccc;"></div>


      <div class="item item-text-wrap">
          <span style="font-size: 14px">
           <div style="padding-bottom:5px;text-align: left;padding-left: 10px">联系电话：
             <a href="tel:0756-8650818" style="padding-left: 10px;text-decoration: none;">0756-8650818</a>
           </div>
           <div style="padding-bottom:5px;text-align: left;"><a href="tel:0756-8650818" style="padding-left: 94px;text-decoration: none;">0756-8650818</a>
           </div>
           <div style="padding-bottom:5px;text-align: left;"><a href="tel:4008-527-020" style="padding-left: 94px;text-decoration: none;">4008-527-020</a>
           </div>
           <div style="padding-bottom:5px;text-align: left;"><a href="tel:15107680992" style="padding-left: 94px;text-decoration: none;">15107680992</a>
           </div>
          </span>
      </div>

    </div>
  </ion-content>
</ion-view>
