
  <center style="padding-top: 8px;">
        <span style="font-size: 14px" ng-if="CarMessage">
                          {{code.Brand}} {{code.Gearbox}}
                          {{code.Engine}} {{code.Year}}
                          {{code.Configuration}}
        </span>

    <a class="button button-small" ui-sref="tab.setCarType" style="background-color: white"  ng-if="!CarMessage">
          <span style=""><img src="img/main/def_car.png" style="width: 20%;height: 20%;"></span>
        <span style="font-size: 14px;vertical-align: inherit">
          {{CarCodess}}
        </span>
    </a>
  </center>
<div class="item item-input-inset" style=" margin: 0 0 10px 10px ;padding:0;padding-right: 10px;padding-top:7px;border:none;">
	<label class="item-input-wrapper">
					    <input placeholder="商品名称/产品型号" type="text" ng-model="KeyWord" style="font-size: 14px;height: 32px;line-height: 32px;">
					  </label>
	<button class="button button-assertive button-small" ng-click="getBySearch()" style="width: 50px;height:32px;line-height: 32px;background-color: #2076c0; margin-left: 10px; color: white; border-radius:5px;border:none">
					   搜索
        </button>
</div>
<!--<any class="item-input row">
  <input type="text" placeholder="商品名称/产品型号" ng-model="KeyWord" style="padding-left: 10px;font-size: 14px">
  <button class="button button-assertive button-small" ng-click="getBySearch()" style="width: 50px">
    <span style="font-size: 14px">搜索</span>
  </button>
</any>-->

