	/* Empty. Add your own CSS if you like */
	/* Empty. Add your own CSS if you like */
	
	.c {
		color: black;
		font-size: 15px;
	}
	
	.d {
		color: lightblue
	}
	
	.e {}
	
	.f {
		float: left;
		color: red
	}
	
	.g {
		float: right;
		color: brown;
		font-size: 12px
	}
	
	.h {
		float: right
	}
	
	.i {
		float: left
	}
	
	.j {
		font-size: 12px;
		float: right
	}
	
	.k {
		float: right;
		color: red;
		font-size: 12px
	}
	
	.l {
		color: lightblue
	}
	
	.m {
		color: black;
		float: right;
		font-size: 12px
	}
	
	.n {
		font-size: 11px
	}
	
	.o {
		font-size: 25px
	}
	
	.wx_logo {
		background-image: url(../img/weixin.png);
		display: block;
	}
	
	.qq_logo {
		background-image: url(../img/qq.png);
		display: block;
	}
	/*<span class="c">*/
	
	.box {
		width: 100%;
		height: 160px;
	}
	
	div> img {
		width: 100%;
		height: 100%;
	}
	
	button> img {
		width: 60px;
		height: 60px;
	}
	
	div> label {
		border-style: none;
	}
	
	.modal-backdrop,
	.modal-backdrop-bg {
		position: absolute !important;
	}
	
	h2.title {
		font-size: 110%;
	}
	
	.hide {
		display: none;
	}
	
	.a {
		text-decoration: none;
	}
	
	.bar.bar-ico2o {
		background-color: #2076c0;
		color: #fff;
	}
	
	.tabs-striped.tabs-background-ico2o .tabs {
		background-color: #2076c0;
		background-image: none;
	}
	
	body {
		font-family: "微软雅黑";
		font-size: 14px;
		color: #505050;
	}
	
	.button-img-div {
		min-width: 28px;
		min-height: 30px;
		font-size: 14px;
		line-height: 10px;
		padding: 0px 2px 15px;
		color: #505050;
	}
	
	button> div {
		color: #505050;
	}
	
	.button.button-grey {
		border-color: transparent;
		background-color: rgba(0, 0, 0, 0.48);
		color: white;
	}
	
	.button.button-grey:hover {
		color: white;
		text-decoration: none;
	}
	
	.button.button-grey.active,
	.button.button-grey.activated {
		border-color: #a2a2a2;
		background-color: #e5e5e5;
	}
	
	.button.button-grey.button-clear {
		border-color: transparent;
		background: none;
		box-shadow: none;
		color: #b2b2b2;
	}
	
	.button.button-grey.button-icon {
		border-color: transparent;
		background: none;
	}
	
	.button.button-grey.button-outline {
		border-color: #b2b2b2;
		background: transparent;
		color: #b2b2b2;
	}
	
	.button.button-grey.button-outline.active,
	.button.button-grey.button-outline.activated {
		background-color: #b2b2b2;
		box-shadow: none;
		color: #fff;
	}
	
	.button-img-div2 {
		min-width: 28px;
		min-height: 30px;
		font-size: 14px;
		line-height: 15px;
		padding: 0px 2px 15px;
		color: #505050;
	}
	
	.changeCheckbox> div {
		padding: 7px 16px;
	}
	
	.button-img-div3 {
		min-width: 28px;
		min-height: 30px;
		font-size: 14px;
		line-height: 20px;
		padding: 0px 2px 10px;
		color: #505050;
	}
	
	.button.button-order {
		border-color: transparent;
		background-color: transparent;
	}
	
	div p {
		font-size: 14px;
		font-family: "微软雅黑";
		margin: 0 auto;
	}
	
	.fontS {
		font-size: 14px;
		font-family: "微软雅黑";
	}
	
	.orderItem {
		border-left: none;
		border-right: none;
		padding-left: 10px;
		
		position: relative;
		vertical-align: middle;
	}
	.orderItem div{
		padding-bottom: 0;
	}
	.orderItem p {
		width: 100%;
		position: absolute;
		font-size: 14px;
		font-family: "微软雅黑";
	}
	
	.orderCheckBox {
		border-style: none;
		vertical-align: middle;
		font-size: 14px;
	}
	
	.slide-in-right {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	
	.slide-in-right.ng-enter,
	.slide-in-right> .ng-enter {
		-webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
		transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
	}
	
	.slide-in-right.ng-enter-active,
	.slide-in-right> .ng-enter-active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	
	.slide-in-right.ng-leave,
	.slide-in-right> .ng-leave {
		-webkit-transition: all ease-in-out 250ms;
		transition: all ease-in-out 250ms;
	}